a .attachment{
    display:inline-block;
    padding-top:100px;
    background: red;
    white-space: nowrap;
}
a[href$='.pdf'] {
    display:inline-block;
    padding-top:100px;
    background: url('../icons/pdf.png')  center left no-repeat;
    white-space: nowrap;
}
a[href$='.pptx'], a[href$='.ppt'] {
    display:inline-block;
    padding-top:130px;
    background: url('../icons/pptx.png')  center left no-repeat;
    white-space: nowrap;
}
a[href$='.doc'], a[href$='.docx'] {
    display:inline-block;
    padding-top:130px;
    background: url('../icons/docx-file.png')  center left no-repeat;
    white-space: nowrap;
}
